
[submodule "POS/lab01-flamyngu"]
	path = POS/lab01-flamyngu
	url = https://github.com/Die-Spengergasse/lab01-flamyngu.git
[submodule "POS/lab02-flamyngu"]
	path = POS/lab02-flamyngu
	url = https://github.com/Die-Spengergasse/lab02-flamyngu.git
[submodule "WMC/sj2526-3dhif-wmc-lab01-wiederholung-flamyngu"]
	path = WMC/sj2526-3dhif-wmc-lab01-wiederholung-flamyngu
	url = https://github.com/Die-Spengergasse/sj2526-3dhif-wmc-lab01-wiederholung-flamyngu.git
[submodule "POS/lab03-flamyngu"]
	path = POS/lab03-flamyngu
	url = https://github.com/Die-Spengergasse/sj25-26-3dhif-pos-inheritance1-flamyngu.git
[submodule "POS/lab04-flamyngu"]
	path = POS/lab04-flamyngu
	url = https://github.com/Die-Spengergasse/sj25-26-3dhif-pos-delegates-lab04-flamyngu.git
